.wrapper {
  padding: 0;
  position: relative;
  overflow-x: hidden;
  max-width: 100%;
  background: var(--body-color);
  border-radius: 30px;
  margin: 20px 10px;
}

.wrapper .icon {
  position: absolute;
  top: 0;
  height: 100%;
  width: 40px;
  display: flex;
  align-items: center;
}

.icon:first-child {
  left: 0;
  display: none;
  background: linear-gradient(90deg, #333333 70%, transparent);
}

.icon:last-child {
  right: 0;
  justify-content: flex-end;
  background: linear-gradient(-90deg, #333333 70%, transparent);
}

.icon i {
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: .7rem;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
}

.icon i:hover {
  background: #333333;
}

.icon:first-child i {
  margin-left: 15px;
}

.icon:last-child i {
  margin-right: 15px;
}

.wrapper .tabs-box {
  display: flex;
  gap: 7px;
  list-style: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.tabs-box.dragging {
  scroll-behavior: auto;
  cursor: grab;
}

.tabs-box .tab {
  cursor: pointer;
  font-size: .7rem;
  white-space: nowrap;
  background: #000000f4;
  padding: 10px 14px;
  border-radius: 30px;
  border: 1px solid #020202;
}

.tabs-box .tab:hover {
  background: #272729;
  box-shadow: 0px 0px 2px rgb(40, 40, 40);
}

.tabs-box.dragging .tab {
  user-select: none;
  pointer-events: none;
}

.tabs-box .tab.active {
  color: #151515;
  background: linear-gradient(50deg, #006eff, rgb(255, 174, 0), #800080);
}

.tab,
.tab a {
  color: #e6e6e6;
  text-decoration: none;
}






section {
  margin-bottom: 40px;
  padding: 30px;
}

section h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: var(--text-color);
}

/* Card styles */
section ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

section ul li {
  flex: 1 1 calc(50% - 20px);
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  position: relative;
  overflow: hidden;
}

section ul li:hover {
  background-color: #333333;
  transform: scale(1.05);
}

section ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.3rem;
  text-align: right;
  display: block;
  font-weight: 700;
  width: 100%;
  font-family: cursive;
  height: 100%;
  display: flex;
  flex-direction: column;
}

section ul li i {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 10px;
  display: block;
}

/* Responsive styles */
@media (min-width: 600px) {
  section ul li {
      flex: 1 1 calc(33.333% - 20px);
  }

}
@media (max-width: 600px) {
  section ul li a {
    font-size: .9rem;
  }
  .fild{
    display: none;
  }
  section{
    padding: 20px 0;
  }
}
@media (min-width: 900px) {
  section ul li {
      flex: 1 1 calc(25% - 20px);
  }
}

/* Icons for music, albums, and artists */
.icon-artist:before {
  content: '\f500';
  font-family: 'Boxicons';
  display: block;
  margin-bottom: 10px;
}

.icon-album:before {
  content: '\f401';
  font-family: 'Boxicons';
  display: block;
  margin-bottom: 10px;
}

.icon-music:before {
  content: '\f3b5';
  font-family: 'Boxicons';
  display: block;
  margin-bottom: 10px;
}




.search-modal {
  position: sticky;
  top: 0;
  z-index: 1000; /* Adjust as needed */
  background-color: var(--body-color); /* Optional: Add a background color */
  padding: 20px;
}

.search-container {
  position: relative;
  width: 100%;
}

#search-input {
  outline: none;
  width: 100%;
  padding: 10px 40px 10px 10px;
  box-sizing: border-box;
  border: 1px solid var(--primary-color);
  background-color: var(--body-color);
  border-radius: 5px;
  color: var(--text-color);
  font-size: 16px;
}

#search-input:focus {
  border: 1px solid var(--primary-color-light);
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  color: var(--text-color);
}




.autocomplete-list {
  position: absolute;
  z-index: 1000;
  background-color: transparent;
  backdrop-filter: blur(30px);
  border: 1px solid var(--body-color);
  border-top: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 90%; /* Adjust width as needed */
  max-width: calc(100% - 2px); /* Ensure max-width matches search input */
  left: 50%; /* Position the autocomplete list relative to the center */
  transform: translateX(-50%); /* Center the autocomplete list */
  display: none; /* Initially hide the autocomplete list */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.autocomplete-list li {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-list li:hover {
  background-color: var(--primary-color-light);
}


.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  display: inline-block;
  margin-right: 5px;
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}












